body {
        height: auto;
        background-image: linear-gradient(200deg, DarkSlateBlue 10%, limegreen, DarkOrange 55%, DarkOrchid);
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
}

table {
    border: 2px solid black;
}

input:focus::placeholder{
    color: transparent;
}


th {
    border: 2px solid black;
}

tr {
    border: 2px solid black;
} 

td {
    border: 2px solid black;
}