body {
        height: auto;
        background-color: skyblue;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.mainTable {
    display: block;
    margin: auto;
    width: fit-content;
    object-position: center;
    object-fit: relative;
}

button {
        background-color: hotpink;
        border: none;
        color: black;
        padding: 3px 25px;
        text-align: center;
        text-decoration: underline;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        border-radius: 5px;
        font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

.deleteMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

table {
    border: 2px solid black;
}

input:focus::placeholder{
    color: transparent;
}


th {
    border: 2px solid black;
}

tr {
    border: 2px solid black;
} 

td {
    border-bottom: 2px solid black;
    margin-left: 0;
}

.bottomRow {
    border: none;
}

.newEmployee {
    padding-left: 5px;
}

/* #monthlySalaryCost {
    background-color: seagreen;
} */