body {
        height: auto;
        background-color: skyblue;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
}

.mainTable {
    display: block;
    margin: auto;
    width: fit-content;
    object-position: center;
    object-fit: relative;
}

table {
    border: 2px solid black;
}

input:focus::placeholder{
    color: transparent;
}


th {
    border: 2px solid black;
}

tr {
    border: 2px solid black;
} 

td {
    border: 2px solid black;
}

.bottomRow {
    border: none;
}

.newEmployee {
    padding-left: 5px;
}

#monthlySalaryCost {
    background-color: seagreen;
}